html,
body {
    height: 100%;
}

body{
    /* display: flexbox; */
    /* text-align: center; */
    /* padding: 100px; */
    overflow: hidden;
    background-color: rgba(171, 190, 241, 0.144);
         
}
.grid {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] ;
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] ;
    grid-gap: 20px;
   
    
  }
  .img1 {
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    
  }
  
  .img2 {
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    color: white;
    
  }
 
  
  .login {
    grid-column: x1 / x2;
    grid-row: y0 / y2;
  }

   /* body {
    display: -ms-flexbox;
     display: flex; 
    -ms-flex-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    margin: 0, 0;
    padding: 0, 0;
    background: orange;

    display: list-item;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   */
  
p{
    color: lightgoldenrodyellow;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #a3a19c;
    text-align: center;
    /* text-transform: uppercase; */
}

input {
    border: 0;
    background: none;
    /* margin: 10px, 10px; */
    /* padding: 10px, 10px; */
    text-align: center;
    border: 2px solid #fabc37;
    width: 200px;
    border-radius: 24px;
    color: lavender;
    transition: 0.25s;

}

input[type="text"]:focus,
input[type="password"]:focus {
    width: 230px;
    border-color: khaki;
    outline: none;
}

input[type="submit"] {
    background: linear-gradient(#ffda63, #fca714);
    border: 0;
    color: rgb(128, 33, 33);
    opacity: 0.6;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    height: 35px;
    width: 130px;

}

input[type="submit"]:hover {
    opacity: 1;
}

input[type="submit"]:active {
    transform: scale(0.95s);
}

a:hover {
     color:#fca714; 
     text-decoration:none; 
     cursor:pointer;  
}
.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-box {
    width: 320px;
    padding: 40px;
    background: #363535;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    max-width: 400px;
    border-radius: 20px;
    margin-top: 80px;
    
   
}
/* .container{
    margin-top: 50px;
    display: inline-flex;
    border: red solid 3px;
    height: 300px;
    
 } 
*/
/* .container2{
    margin-top: 30px;
    display: inline-flex;
    text-align: center;
    margin: 25px, 25px;
   } */

.link {
    
    font-size: 15px;
    font-style: italic;
    color: #fdfdfd;
    text-decoration: none;
}

.img{
    height: 300px; 
    width: 900px;
    margin-left: 150px;
    margin-top: 30px;
  
}

.slider{
    /* Con overflow hidden hace que solo se puestre un imagen a la vez en el slider */
    overflow: hidden;
     /* aqui configuramos el tamaño del slider con width */
     height: 380px; 
     width: 900px;
    position: absolute;
    margin-left: 150px;
   
  }
.slider figure{
 position: relative; 
    width: 500%;
      /* con margin se colocan las imagenes una al lado de la otra */
    margin: 0;
    left: 0;
    /* tiempo de transicion en cada imagen */
    animation: 20s slider infinite;
    /* evitando un cambio brusco de la ultima a la primera es un orden creciente y decreciente */
    animation-direction: alternate-reverse;
    /* aqui cambiamos la curva de la animacion */
    animation-timing-function: linear;
}
.slider figure img{
    width: 20%;
    float: left;
}
/* esto son las paradas que realiza el slider */
@keyframes slider{
    0% {left:0;}
    20% {left:0;}
    25% {left:-100%;}
    45% {left:-100%;}
    50% {left:-200%;}
    70% {left:-200%;}
    75% {left:-300%;}
    95% {left:-300%;}
    100% {left:-400%;}

}

